body {
    a {
        color: $color-primary;
    }

    a:hover {
        color: $color-secondary;
        text-decoration: none;
    }

    background-color: $color-bg;
}

// main title style
.main-title {
    font-family: 'Product Sans', -apple-system, BlinkMacSystemFont, Arial, monospace;
    font-weight: 700;
    font-size: $font-size-logo;
    white-space: nowrap;
    display: block;
}

.link-alter {
    a {
        color: $color-secondary;
    }

    a:hover {
        color: $color-primary-dark;
        text-decoration: none;
    }
}

.markdown-body {
    a {
        color: $color-secondary;
    }

    a:hover {
        color: $color-primary-dark;
        text-decoration: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $color-primary;
    }

    h1 {
        font-size: $font-size-l1;
        border-bottom: $spliter;
        margin-top: 1.5rem;
    }

    h2 {
        font-size: $font-size-l2;
        border-bottom: $spliter;
        margin-top: 1.25rem;
    }

    h3 {
        font-size: $font-size-l3;
        margin-top: 1.025rem;
    }

    h4,
    h5,
    h6 {
        font-size: $font-size-l4;
    }

    hr {
        background-color: $color-spliter;
    }

    ul {
        list-style-type: circle;
    }

    img {
        border: 2px solid $color-secondary;
        border-radius: 2px;
    }
}