#content {
    padding: 0 1em 0 1em;

    // different padding when screen size below width-md(768px)
    @media screen and (max-width: $width-md) {
        padding: 0 1.5em 0 1.5em;
    }
}

#post {
    padding: 1.5em 0 1.5em 0;
}

// different padding of first & last child in archives page
#post-archive {
    &:not(:first-child):not(:last-child) {
        padding: 0.5em 0 0.5em 0;
    }

    &:first-child {
        padding: 1.5em 0 0.5em 0;
    }

    &:last-child {
        padding: 0.5em 0 1.5em 0;
    }
}

// spliter between two posts
#post+#post,
#post-archive+#post-archive {
    border-top: $spliter;
}

// post title font & color
#post-title {
    font-size: $font-size-l1;

    @include link-primary();
}

#post-title-archive {
    font-size: $font-size-l2;

    @include link-primary();
}

// post meta data style
#post-meta {
    color: $color-mute;
    padding: 0.5em 0 1em 0;
    white-space: nowrap;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        display: none; // WebKit
    }

    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // Microsoft

    @include link-secondary();
}

#post-meta-archive {
    color: $color-mute;
    padding: 0;
    white-space: nowrap;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        display: none; // WebKit
    }

    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // Microsoft

    @include link-secondary();
}

#post-aplayer {
    font-family: inherit;
    margin: 0 2px 1.5em 2px;
}

// read more link style
#post-exlink {
    margin: 0.5em 0 0 0;

    @include link-secondary();
}

// current tag indicator style in tags page
#page-tag {
    padding: 1.5em 0 1.5em 0;
    font-size: $font-size-l3;
    border-bottom: $spliter;
}

// markdown article style
article {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

// in-post license style
#license {
    @include link-secondary();

    margin-bottom: 1.5em;
}

// comment loading indicator style
#post-loading {
    border-top: $spliter;
    margin: 0 0 1.5em 0;
    padding-top: 1.5em;
    text-align: center;

    i {
        font-size: 1.5em;
        color: $color-primary;
    }

    p {
        margin: 0.5em 0 0 0;
    }
}

// spliter between comment & post will not show while iframe not loaded
#post-comment .utterances-frame {
    border-top: $spliter;
}

#post-comment #disqus_thread {
    border-top: $spliter;
}