header {
    padding: 1em 0 1em 0;

    #main-title {
        @include pdsans-title();

        &:hover {
            text-decoration: none;
            color: $color-secondary;
        }
    }

    #sub-title {
        font-size: $font-size-l3;
        display: block;
        color: $color-mute;
    }

    border-bottom: $spliter;
}