#content {
    padding: 0 1em 0 1em;

    // different padding when screen size below width-md(768px)
    @media screen and (max-width: $width-md){
        padding: 0 1.5em 0 1.5em;
    }
}

#post {
    padding: 1.5em 0 1.5em 0;
}

// spliter between two posts
#post+#post {
    border-top: $spliter;
}

#post-title {
    font-size: $font-size-l1;

    @include link-primary();
}

#post-meta {
    color: $color-mute;
    padding: 0.5em 0 1em 0;
    white-space: nowrap;
    overflow-x: scroll;

    &::-webkit-scrollbar {
        display: none; // WebKit
    }

    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // Microsoft

    @include link-secondary();
}

#post-exlink {
    margin: 0.5em 0 0 0;

    @include link-secondary();
}

#page-tag {
    padding: 1.5em 0 1.5em 0;
    font-size: $font-size-l3;
    border-bottom: $spliter;
}

article {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#post-comment {
    border-top: $spliter;
}