#pagination {
    text-align: center;
    // spliter between pagination and last post block
    border-top: $spliter;
    padding: 1em 0 1em 0;

    li {
        display: inline;
        @include link-primary();

        &.pag-item a {
            vertical-align: middle;
        }

        // darker number when active
        &.pag-current a {
            color: $color-secondary;
        }
    }

    svg {
        height: 1em;
        width: 1em;
        vertical-align: middle;
    }
}