#pagination {
    text-align: center;
    // spliter between pagination and last post block
    border-top: $spliter;
    padding: 1em 0 1em 0;

    li {
        display: inline;
        @include link-primary();

        &.pag-item {
            padding: 0em 0.25em;

            a {
                vertical-align: middle;
            }
        }

        // darker number when active
        &.pag-current a {
            color: $color-secondary;
        }
    }

    i {
        padding: 0em 0.25em;
        vertical-align: middle;
    }
}