// @primer/css/support/variables/layout.scss
// fixed-width container variables
$container-width: 900px !default;
// large screen / desktop (900 + (16 * 2)) <= container + gutters
$width-lg: 932px !default;

// @primer/css/support/variables/typography.scss
// font stacks
$body-font: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !default;
// monospace font stack
$mono-font: "Cascadia Code", "SF Mono", "Fira Code", "Consolas", $body-font !default;
// the base text size
$body-font-size: $font-size-l4 !default;