#sidebar {
    ul {
        list-style-type: none;
    }

    padding: 1.5em 1em 1.5em 1em;

    // different padding when screen size below width-md(768px)
    @media screen and (max-width: $width-md) {
        border-top: $spliter;
        padding: 1.5em 1.5em 1.5em 1.5em;
    }

    h5 {
        font-size: $font-size-l3;
    }

    @include link-secondary();

    #widget-pages,
    #widget-tags,
    #widget-links {

        div,
        ul {
            margin: 0.5em 0em 0.5em 0em;
        }
    }

    #widget-bgm img {
        margin: 0.5em 0em 0.5em 0em;
        width: 100%;
        border-radius: 2px;
        filter: grayscale(50%);

        @media screen and (max-width: $width-md) {
            width: 50%;
        }
    }
}

#container-progress {
    position: fixed;
    width: 3em;
    right: 1em;
    bottom: 1em;
}