#sidebar {
    ul {
        list-style-type: none;
    }

    padding: 1.5em 1em 1.5em 1em;

    // different padding when screen size below width-md(768px)
    @media screen and (max-width: $width-md) {
        border-top: $spliter;
        padding: 1.5em 1.5em 1.5em 1.5em;
    }

    h5 {
        font-size: $font-size-l3;
    }

    @include link-secondary();

    #widget-toc,
    #widget-pages,
    #widget-tags,
    #widget-links {

        div,
        ul {
            margin: 0.5em 0em 0.5em 0em;
        }
    }

    #widget-bgm img {
        margin: 0.5em 0em 0.5em 0em;
        width: 100%;
        border-radius: 2px;
        filter: grayscale(50%);

        @media screen and (max-width: $width-md) {
            width: 50%;
        }
    }
}

#aplayer {
    font-family: inherit;
}

#scroll-top {
    cursor: pointer;
    position: fixed;
    width: 2.5em;
    height: 2.5em;
    right: 1em;
    bottom: 1em;
    color: $color-primary;
    background-color: $color-spliter;
    border-radius: 100%;
    line-height: 2.5em;
    text-align: center;
    vertical-align: middle;
    display: inline-block;

    &:hover {
        color: $color-secondary;
    }

    i {
        font-size: 1.5em;
        line-height: inherit;
    }
}