// colors
$color-primary: #8AA2D3 !default; // https://irocore.com/aofuji/
$color-primary-dark: #3B469B !default; // https://irocore.com/aomurasaki/
$color-secondary: #8F82BC !default; // https://irocore.com/fujimurasaki/
$color-mute: #9EA1A3 !default; // https://irocore.com/suzu-iro/
$color-spliter: #E5E2E4 !default; // https://irocore.com/komachinezu/
$color-bg: #FFFFFD !default; // https://irocore.com/shiro/

// font size list
$font-size-logo: 2.5rem !default; // Logo Only
$font-size-l1: 1.75rem !default; // Primer CSS H1
$font-size-l2: 1.5rem !default; // Primer CSS H2
$font-size-l3: 1.25rem !default; // Primer CSS H3
$font-size-l4: 1rem !default; // Primer CSS H4 & Normal Text

// divider css
$spliter: 2px solid $color-spliter !default;

@font-face {
    font-family: "Product Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Product Sans Bold"), local("ProductSans-Bold"),
        url("https://cdn.jsdelivr.net/gh/amzrk2/web-font-archive@1.3.1/product-sans/product-sans-bold.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Cascadia Code";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Cascadia Code Regular"), local("Cascadia Mono Regular"),
        url("https://cdn.jsdelivr.net/gh/amzrk2/web-font-archive@1.3.0/cascadia-code/cascadia.woff2") format("woff2");
}