#sidebar {
    ul {
        list-style-type: none;
        margin: 0.5rem 0;

        ul {
            margin: 0rem 0.5rem;
            font-size: 0.875rem;
        }
    }

    padding: 1.5rem 1rem;

    // different padding when screen size below width-md(768px)
    @media screen and (max-width: $width-md) {
        border-top: $spliter;
        padding: 1.5rem;
    }

    h5 {
        font-size: $font-size-l3;
    }

    .widget-bgm img {
        color: $color-secondary;
        margin: 0.5rem 0;
        width: 100%;
        border-radius: 2px;
        filter: grayscale(50%);

        @media screen and (max-width: $width-md) {
            width: 50%;
        }
    }
}