* {
    box-sizing: border-box;
}

// sticky footer
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    scroll-behavior: smooth;
}

main {
    flex: 1 1 auto;
}

// remove text decoration
a:hover {
    text-decoration: none !important;
}
