@mixin light {
    --color-mode: 'light';
    --color-primary: #8aa2d3; // https://irocore.com/aofuji/
    --color-secondary: #8f82bc; // https://irocore.com/fujimurasaki/
    --color-focus: #3b469b; // https://irocore.com/aomurasaki/
    --color-mute: #9ea1a3; // https://irocore.com/suzu-iro/
    --color-font: #3f4551; // https://irocore.com/konnezu/
    --color-divider: #e5e2e4; // https://irocore.com/komachinezu/
    --color-bg: #fffffd; // https://irocore.com/shiro/
    --color-codebg: #f6f8fa; // GitHub
}

@mixin dark {
    --color-mode: 'dark';
    --color-primary: #8aa2d3; // https://irocore.com/aofuji/
    --color-secondary: #bab1df; // kai https://irocore.com/fujimurasaki/
    --color-focus: #e6e6e6; // https://irocore.com/shironezumi/
    --color-mute: #9ea1a3; // https://irocore.com/suzu-iro/
    --color-font: #c0c0c0; // https://irocore.com/gin-iro/
    --color-divider: #4d5158; // Discord
    --color-bg: #2f3136; // Discord
    --color-codebg: #414449; // kai GitHub
}

body[data-theme='auto'] {
    @include light();

    @media (prefers-color-scheme: dark) {
        @include dark();
        @import '_dark-diff'; // things different from light
    }
}

body[data-theme='light'] {
    @include light();
}

body[data-theme='dark'] {
    @include dark();
    @import '_dark-diff'; // things different from light
}

@mixin link-1 {
    a {
        color: var(--color-primary);
    }

    a:hover {
        color: var(--color-secondary);
    }
}

@mixin link-2 {
    a {
        color: var(--color-secondary);
    }

    a:hover {
        color: var(--color-focus);
    }
}

$divider: 2px solid var(--color-divider);
