{{ define "main" }}
<!-- page info section e.g. current tag & total archive pages -->
<div class="page-info">
    <form class="search-form" autocomplete="off">
        <div class="search-input">
            <input type="text" name="search-input" maxlength="40" required />
        </div>
        <div class="search-submit">
            <button>搜索</button>
        </div>
    </form>
</div>
<!-- archives range in all posts -->
<div class="post">
    <h3 class="post-item post-title-archive">
        Not Finished Yet
    </h3>
</div>

{{ end }}