{{ define "main" }}
<article>
    <!-- post meta -->
    <h4 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h4>
    <div class="post-meta link-alter">
        {{ partial "post-meta.html" . }}
    </div>
    {{ with .Params.playerURL }}
    <div id="post-aplayer"></div>
    {{ end }}
    <!-- post main content -->
    <div class="post-content markdown-body">
        {{ .Content }}
    </div>
</article>
<!-- post license -->
{{ if ne .Params.noLicense true }}
<div class="license markdown-body">
    <blockquote>
        <p>{{ i18n "postCopyrightFront" }}<a rel="license" href="{{ .Site.Params.licenseLink }}" target="_blank">{{ .Site.Params.license }}</a>{{ i18n "postCopyrightEnd" }}</p>
    </blockquote>
</div>
{{ end }}
{{ if ne .Params.noComments true }}
{{ partial "comment-utterances.html" . }}
{{ partial "comment-disqus.html" . }}
{{ end }}
{{ end }}