{{ define "main" }}
<div id="page-tag">
    <span>{{ i18n "tagsCurrentTag" . }}</span>
</div>
<!-- tags page range in posts -->
{{ range .Paginator.Pages }}
<div id="post">
    <h2 id="post-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    <div id="post-meta">
        {{ partial "post-meta.html" . }}
    </div>
    <div id="post-summary">
        {{ .Summary }}
    </div>
    <div id="post-exlink">
        <a href="{{ .Permalink }}#">&gt; READ MORE ...</a>
    </div>
</div>
{{ end }}
{{ if gt .Paginator.TotalPages 1 }}
<div id="pagination">
    {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
{{ end }}