{{ with .Site.Params.disqusShortname }}
<div class="post-comment">
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = "{{ $.Permalink }}";
            this.page.identifier = "{{ $.RelPermalink }}";
        };
        (function () {
            var d = document,
                s = d.createElement('script');
            s.src = 'https://{{ . }}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
</div>
{{ end }}