<div class="btn">
    <div class="btn-menu" id="btn-menu">
        <i class="iconfont icon-grid-sharp"></i>
    </div>
    <div class="btn-toggle-mode">
        <i class="iconfont icon-contrast-sharp"></i>
    </div>
    <div class="btn-scroll-top">
        <i class="iconfont icon-chevron-up-circle-sharp"></i>
    </div>
</div>
<aside class="sidebar-mobile" style="display: none;">
  <div class="sidebar-wrapper">
    <!-- pages -->
    <div class="sidebar-item sidebar-pages">
        <h3>{{ i18n "sidebarPages" }}</h3>
        <ul>
            {{ range .Site.Menus.nav }}
            <li>
                <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
    <!-- links -->
    <div class="sidebar-item sidebar-links">
        <h3>{{ i18n "sidebarLinks" }}</h3>
        <ul>
            {{ range .Site.Menus.link }}
            <li>
                <a href="{{ .URL }}" target="_blank"><span>{{ .Name }}</span></a>
            </li>
            {{ end }}
        </ul>
    </div>
    <!-- tags -->
    <div class="sidebar-item sidebar-tags">
        <h3>{{ i18n "sidebarTags" }}</h3>
        <div>
            {{ range .Site.Taxonomies.tags }}
            <span>
                <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
            </span>
            {{ end }}
        </div>
    </div>
    <!-- in-post toc -->
    {{ if in .Site.Params.mainSections .Type }}
    {{ if and (or .Site.Params.showToc .Params.showToc) (ne .Params.showToc false) }}
    <div class="sidebar-item sidebar-toc">
        <h3>{{ i18n "sidebarToc" }}</h3>
        {{ .TableOfContents }}
    </div>
    {{ end }}
    {{ end }}
  </div>
</aside>