<script data-cfasync="false">
    // detect theme data in localStorage
    // change the data-theme attribute of body
    var fujiThemeData = localStorage.getItem('fuji_theme');
    if (fujiThemeData) {
        if ($('body').attr('data-theme') !== fujiThemeData) {
            $('body').attr('data-theme', (index, attr) => {
                if (fujiThemeData === 'dark') {
                    return 'dark';
                } else {
                    return 'light';
                }
            });
        }
    } else {
        localStorage.setItem('fuji_theme', $('body').attr('data-theme'));
    }
</script>
<script data-cfasync="false">
    // ie
    var ua = window.navigator.userAgent;

    function browserDetection() {
        if (ua.indexOf('MSIE ') > 0 || ua.indexOf('Trident/') > 0 || ua.indexOf('Edge/') > 0) {
            return true;
        }
        return false;
    }

    if (browserDetection()) {
        window.location.href('{{ "/ie/" | absURL }}');
    }
</script>