<script src="https://cdn.jsdelivr.net/npm/lazysizes@5.2.2/lazysizes.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/medium-zoom@1.0.5/dist/medium-zoom.min.js"></script>
{{ if .Site.Params.customHighlight }}
<script src="{{ .Site.Params.customHighlightURL | relURL }}"></script>
{{ else }}
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.0.3/build/highlight.min.js"></script>
{{ end }}
<script src="{{ "/assets/js/fuji.dev.js" | relURL }}"></script>

{{ with .Params.playerURL }}
<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
<script>
    // in-post aplayer
    var aPlayer = new APlayer({
        container: document.getElementById('post-aplayer'),
        theme: '#8f82bc',
        volume: 0.1,
        audio: [{
            name: '{{ $.Params.playerName }}',
            artist: '{{ $.Params.playerArtist }}',
            url: '{{ . }}',
            cover: '{{ $.Params.playerCover }}'
        }]
    });
</script>
{{ end }}