{{ define "main" }}
<main>
    <div class="container-lg clearfix">
        <!-- list -->
        <div class="col-md-9 col-12 float-left" id="content">
            <!-- homepage range in posts -->
            {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
            {{ range $paginator.Pages }}
            <div id="post">
                <h2 id="post-title">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </h2>
                <div id="post-meta">
                    {{ partial "post-meta.html" . }}
                </div>
                <div class="markdown-body" id="post-summary">
                    {{ .Summary }}
                </div>
                <div id="post-exlink">
                    <a href="{{ .Permalink }}#">&gt; READ MORE ...</a>
                </div>
            </div>
            {{ end }}
            {{ if gt $paginator.TotalPages 1 }}
            <div id="pagination">
                {{ template "_internal/pagination.html" . }}
            </div>
            {{ end }}
        </div>
        <!-- sidebar -->
        <div class="col-md-3 col-12 float-left" id="sidebar">
            {{ partial "sidebar.html" . }}
        </div>
        <div id="container-progress">
            <a href="javascript:void(0)">
                <div id="progress"></div>
            </a>
        </div>
    </div>
</main>
{{ end }}